<!-- footer Start -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Your Name: 
				<a href="mailto:name@email.com?subject=In regards to{{ page.title }}" target="_blank">name@email.com</a>
				</p>
			</div>
		</div>
	</div>
</footer>
