<div class="tile">
	<div class="gradient-lighter" style="max-height: 550px; overflow: hidden;">
		<img style="z-index:-1; width: 100%;" src="{{ site.baseurl }}{{post.folder_location}}/{{post.featured_image}}">
	</div>
	<div style="position:absolute;width:100%;top:10%;left:5%;">
		<h2>{{ post.title }}</h2>
			{% if post.categories != empty %}
			<center>
				{% for tag in post.tags %}
					<span>{{ tag }}</span>
				{% endfor %}
			</center>
			{% endif %}
		<div class="excerpt">
			<center>
				<br>
				<div style="width:60%">{{ post.excerpt }}</div>
			</center>
		</div>
		<br>
	</div>
	<a href="{{ post.url | prepend: site.baseurl }}" class="see-more-btn btn btn-info btn-lg" style="background-color: #1e4d2b; border-color:black;">Read More <i class="fa fa-angle-right"></i></a>
</div>
