---
layout: page
---
<div class="post">
	<section id="intro" style="border: 1px dotted #ddd;">
		<div class="container">
			<div class="row">
				<div>
					<div class="block">
						<center>
							<h1>{{ page.title }}</h1>
						</center>
						<hr class="hr-medium"></hr>
						<div class="post-body">
							{{ content }} 
						</div>
					</div>
				</div><!-- .col-md-7 close -->
			</div>
		</div>
	</section>
</div>
